<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
</head>
<body>

<div th:fragment="project" class="modal fade" id="projectsModal" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Project</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">

                </button>
            </div>

            <form method="POST" enctype="multipart/form-data" th:action="@{/user/project/add}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameWithTitle" class="form-label">Project Name*</label>
                            <input
                                    name="title"
                                    type="text"
                                    id="nameWithTitle"
                                    class="form-control"
                                    placeholder="Enter Your Project Title"
                                    required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="jobDescription" class="form-label">Project Description*</label>
                            <textarea
                                    class="form-control"
                                    id="jobDescription"
                                    name="description"
                                    rows="3"
                                    placeholder="Description"
                                    required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-0">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Project Image*</label>
                                <input class="form-control" type="file" id="formFile" name="projectImage" required/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>