<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>


<!--                            Password Update-->
<div th:fragment="skill" class="card mb-4">
    <h5 class="card-header">Update Skill</h5>
    <div class="card-body">

        <form id="updateSkill" th:action="@{/user/skill/update}" method="post">
            <div class="mb-3 col-md-6">
                <div class="col mb-3">
                    <label class="form-label" for="skillID">Skill ID</label>
                    <div class="input-group">
                        <input
                                th:value="${skill.ID}"
                                name="ID"
                                type="text"
                                class="form-control"
                                id="skillID"
                                placeholder="Skill ID"
                                aria-describedby="defaultFormControlHelp"
                                required
                                readonly
                        />
                    </div>
                </div>
            </div>

            <div class="mb-3 col-md-6">
                <div class="col mb-3">
                    <label class="form-label" for="updateCoreSkill">Skill Name</label>
                    <div class="input-group">
                        <input
                                th:value="${skill.skillName}"
                                type="text"
                                name="skillName"
                                class="form-control"
                                id="updateCoreSkill"
                                placeholder="Skill Name"
                                aria-describedby="defaultFormControlHelp"
                                required
                        />
                    </div>
                </div>
            </div>

            <div class="mb-3 col-md-6">
                <div class="col mb-3">
                    <label for="skillType" class="form-label">Skill Type</label>
                    <select id="skillType" name="skillType" class="form-select" th:field="${skill.skillType}" required>
                        <option value="CORE" th:selected="${skill.skillType == 'CORE'}">CORE</option>
                        <option value="OTHER" th:selected="${skill.skillType == 'OTHER'}">OTHER</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 col-md-6">
                <div class="form-password-toggle">
                    <label class="form-label" for="password">Password</label>
                    <div class="input-group">
                        <input
                                minlength="8"
                                id="password"
                                type="password"
                                name="password"
                                class="form-control"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="basic-default-password2"
                                required
                        />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary me-2">Update Skill</button>
        </form>
    </div>
</div>


</body>
</html>