<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>View Resume</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

  <link rel="stylesheet" href="/static/css/Sneat/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/static/css/Sneat/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/static/css/Sneat/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/static/css/Sneat/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/static/css/Sneat/perfect-scrollbar.css" />

  <!-- Page CSS -->
  <!-- Page -->
  <link rel="stylesheet" href="/static/css/resume.css" />

  <!-- Helpers -->
  <script src="/static/js/Sneat/helpers.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/static/js/Sneat/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar layout-without-menu">
  <div class="layout-container">
    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <nav th:replace="fragments/Header :: header"></nav>

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- header -->
          <!-- header -->
          <!-- banner -->
          <div class="ds-banner">
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                  <figure>
                    <img id="profile-image" th:src="${userData.profileImageURI}" alt="">
                  </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                  <section>
                    <h1 th:if="${userData.visibilitySettings.isShowBriefIntroduction()}">
                      <span>HI THERE</span>
                      <div th:text="${userData.getAboutMe().getBriefIntroduction()}">I’m Jason Stroff UI/UX DESIGNER + DEVELOPER based in Florida.</div>
                    </h1>
                    <ul class="ds-numbervalulist">
                      <li th:if="${userData.visibilitySettings.isShowExperienceYearCount()}">
                        <strong th:text="${userData.getAboutMe().getExperienceYearsCount()} + '+'">6+</strong>
                        <span>Experience</span>
                      </li>
                      <li th:if="${userData.visibilitySettings.isShowProjectsCount()}">
                        <strong th:text="${userData.getAboutMe().getProjectsCount()}">89</strong>
                        <span>Projects</span>
                      </li>
                      <li th:if="${userData.visibilitySettings.isShowHappyClientsCount()}">
                        <strong th:text="${userData.getAboutMe().getHappyClientsCount()}">52</strong>
                        <span>Happy Clients</span>
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- banner -->

          <!-- about -->
          <div class="ds-about-section">
            <div class="container">
              <section th:if="${userData.visibilitySettings.isShowAboutMeSection()}">
                <h2 class="ds-heading">About Me</h2>
                <p th:text="${userData.getAboutMe().getAboutMeSection()}">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Duis interdum ante a porta blandit. Quisque velit tortor, ultricies in quam ut,
                  luctus convallis metus. Nunc vitae felis rutrum, mattis justo quis, bibendum tellus.
                  Integer bibendum eget dolor nec venenatis. Aliquam erat volutpat. Etiam et est vitae turpis accumsan vulputate.
                  Curabitur et vehicula nisl, eu congue dolor. Vivamus nec hendrerit mi Nulla consequat tempor.</p>
              </section>
            </div>
          </div>
          <!-- about -->

          <!--  Skills -->
          <div class="ds-skills-section">
            <div class="container">
              <div class="row">

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" th:if="${userData.visibilitySettings.isShowCoreSkillsSection()}">
                  <h2 class="ds-heading">Core Skills</h2>
                  <ul class="ds-skills-list">
                    <li th:each = "coreSkill : ${coreSkills}" th:text="${coreSkill.getSkillName()}">JavaScript</li>
                  </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" th:if="${userData.visibilitySettings.isShowOtherSkillsSection()}">
                  <h2 class="ds-heading">Other Skills</h2>
                  <ul class="ds-skills-list">
                    <li th:each = "otherSkill : ${otherSkills}" th:text="${otherSkill.getSkillName()}">Responsive Web Design</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <!--  Skills -->

          <!-- Experience -->
          <div class="ds-experience-section" th:if="${userData.visibilitySettings.isShowExperiencesSection()}">
            <div class="container">
              <h2 class="ds-heading">Work Experience</h2>
              <div class="row ds-experience-list">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" th:each = "experience : ${workExperiences}">
                  <section>
              <span
                      class="ds-year"
                      th:if="${experience.getFormattedEndDate() != null}"
                      th:text="${experience.getFormattedStartDate()} + ' - ' + ${experience.getFormattedEndDate()}">
                  2019 - Present
              </span>
                    <span
                            class="ds-year"
                            th:if="${experience.getFormattedEndDate() == null}"
                            th:text="${experience.getFormattedStartDate()} + ' - Present'">
                  2019 - Present
              </span>
                    <h3 class="ds-officename" th:text="${experience.getCompany()}">Matrix Media Inc</h3>
                    <span class="ds-department" th:text="${experience.getJobTitle()}">Full Stack developer</span>
                    <p th:text="${experience.getDescription()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- Experience -->

          <!--  Work -->
          <div class="ds-work-section" th:if="${userData.visibilitySettings.isShowLatestWorksSection()}">
            <div class="container">
              <h2 class="ds-heading">Latest works</h2>
              <div class="ds-work-list-section">

                <div class="ds-work-list" th:each = "project : ${latestWorks}">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                        <h3 class="ds-work-tilte" th:text="${project.getTitle()}">Tripy mobile app</h3>
                        <p th:text="${project.getDescription()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <a th:href="@{/user/project/details(ID=${project.getID()})}" class="ds-button">Details</a>
                      </section>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                      <figure>
                        <img th:src="${project.getImageURI()}" alt="projectIMG">
                      </figure>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--  Work -->
        </div>
        <!-- / Content -->

        <!-- Footer -->
        <footer th:replace="fragments/Footer :: footer"></footer>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="/static/js/Sneat/jquery.js"></script>
<script src="/static/js/Sneat/popper.js"></script>
<script src="/static/js/Sneat/bootstrap.js"></script>
<script src="/static/js/Sneat/perfect-scrollbar.js"></script>
<script src="/static/js/Sneat/menu.js"></script>

<script src="/static/js/Sneat/main.js"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
